{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="label title">{{ post.title }}</div>
<div class="label post-time">{{ post.created_at|date:"F j, Y" }}</div>

<div class="label-group">
    <div class="label">
        This post is private. Enter the password to view it.
    </div>

    <form method="post" class="password-form">
        {% csrf_token %}
        <div class="label">
            <label>
                Password<br>
                <input type="password" name="password" autofocus>
            </label>
        </div>
        <div class="label">
            <button type="submit">Unlock</button>
        </div>
        {% if error %}
        <div class="label password-error">{{ error }}</div>
        {% endif %}
    </form>
</div>

<a class="back-link" href="{% url 'post_list' %}">Back to all posts</a>
{% endblock %}
